.card
    .card-image
        img(src='/images/planets/#{planet.image}')
        span.card-title #{planet.name}
        .float-text
            .chip something
    .card-content
        p #{planet.description}
    .card-action.row
        p.col.m6 #{planet.diameter}
        p.col.m6 #{planet.gravity}